<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBEWEO-h1eUcXIo-5r5LnwNUVKp3ReOPoA</string>
	<key>GCM_SENDER_ID</key>
	<string>759744663254</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.onflyer.HomeTask</string>
	<key>PROJECT_ID</key>
	<string>codemagic-422613</string>
	<key>STORAGE_BUCKET</key>
	<string>codemagic-422613.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:759744663254:ios:0b46f176968f67461d0377</string>
</dict>
</plist>